<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="index.css">
    <title>نیبلاگ</title>
</head>

<body>
    <div class="container">
        <div class="landing">
            <div class="header">
                <div class="landing-navbar">
                    <div class="navbar-logo">
                        <p>Niblog</p>
                        <div class="hamberger">
                            <p class="ham"></p>
                            <p class="ham"></p>
                            <p class="ham"></p>
                        </div>
                    </div>
                    <ul class="navbar-items">
                        <li class="navbar-item"><a href="#section-guid">راهنما</a></li>
                        <li class="navbar-item">اخبار</li>
                        <li class="navbar-item">همه مقالات</li>
                        <li class="navbar-item">پنل مقالات من</li>
                        <li class="navbar-item">درباره ما</li>
                    </ul>
                    <div class="navbar-search">
                        <i style="color: #002255;" class="fas fa-search"></i>
                        <input type="text" placeholder="جستجو...">
                    </div>
                    <div class="navbar-end">
                        <p>آنلاین</p>
                        <i id="theme-icon-moon" class="fas fa-moon" title="تم برنامه"></i>
                        <i id="theme-icon-sun" class="fas fa-sun sun-icon"></i>
                        <i class="fas fa-gear" title="تنظیمات"></i>
                    </div>
                </div>
            </div>

            <div class="landing-con">
                <!-- مثلث‌های جادویی -->
                <div class="magic-triangles">
                    <div class="magic-triangle t1"></div>
                    <div class="magic-triangle t2"></div>
                    <div class="magic-triangle t3"></div>
                </div>

                <div class="landing-txt">
                    <h1>مقاله دیگران رو بخون،<br>مقالتو بنویس!</h1>
                    <h4>همین حالا وبلاگ خودتو بساز و صدات رو به دنیا برسون.</h4>
                    <div class="landing-btn">
                        <button class="btn-primary">شروع</button>
                        <button class="btn-secondary">ثبت نام</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="section">
            <div id="section-guid" class="section-guid">
                <h4 class="section-guid-title">راهنمای سایت</h4>
                <ul class="section-guid-ul">
                    <li class="section-guid-ul-li">
                        <p class="section-guid-ul-li-number">1</p>
                        <p class="section-guid-ul-li-body">برای استفاده بهتر و نوشتن مقالات باید یک حساب کاربری برای
                            خودتان ایجاد کنید و به آن وارد شوید.</p>
                    </li>
                    <li class="section-guid-ul-li">
                        <p class="section-guid-ul-li-number">2</p>
                        <p class="section-guid-ul-li-body">وقتی که به حساب خود وارد شدید میتوانید از پنل سایت استفاده
                            کنید.در پنل حساب خود میتوانید مقاله های خود را مدیریت کنید.</p>
                    </li>
                    <li class="section-guid-ul-li">
                        <p class="section-guid-ul-li-number">3</p>
                        <p class="section-guid-ul-li-body">شما میتوانید در قسمت همه مقالات، مقاله موردنظر را پیدا کرده و
                            بخوانید و نظرات خود را بفرستید.</p>
                    </li>
                    <li class="section-guid-ul-li">
                        <p class="section-guid-ul-li-number">4</p>
                        <p class="section-guid-ul-li-body">در محتوای مقالات خود دقت کنید، اگر مقاله شما به عنوان مقاله
                            برتر در سایت شناخته بشه باعث میشود علامت کاربر برتر در کنار اسم شما قرار بگیرد.</p>
                    </li>
                </ul>
            </div>
            <div class="section-next">
                <p>section next</p>
            </div>
        </div>
    </div>
</body>

</html>
<script src="index.js"></script>